* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contents {
    padding: 13px;
    margin: 0;
  }

  .explore_button{
    display: flex;
    justify-content: center;
  }

  .explore_button button {
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 20px 30px 20px 30px;
    border: 0;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    outline: 0;
    font-size: 15px;
    font-weight: bold;
  }
  
  .explore_button button:hover {
    background-color: rgba(191, 191, 191, 0.9);
  }
  
  .explore_button button:active {
    transform: scale(0.98);
  }

  .contents_list {
    margin: 50px 5px 50px 5px;
    padding-bottom: 15px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .contents_list:hover {
    transform: scale(1.029);
  }

  .content_des {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 14px 16px;
    width: 100%;
    height: 100%;
    h3 {
      font-size: 23px;
    }

    h6 {
      font-size: 13px;
      font-weight: 500;
    }
  }

  
.bighome {
    position: relative;
    padding: 80px 100px 0 100px;
    background-color: black;
    color: white;
  }
  .bighome h2,
  .bighome p {
    padding-left: 20px;
  }
  .home_cont {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0 50px 0 100px;
    .bigcontents{
      a{
        color: white;
      }

    a {
        text-decoration: none;
        color: black;
    }
    }
  }

  .rooms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  
  .test {
    background: red;
  }
  .bigcontents_list {
    margin: 30px 5px 40px 5px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: rgb(34, 34, 34);
  }
  
  
  .contents_list img,
  .bigcontents_list img {
    border-radius: 15px 15px 0 0;
  }
  
  .home_cont::-webkit-scrollbar {
    display: none;
  }
  .E_btn {
    position: absolute;
    bottom: 8.5%;
    right: 0;
    width: 45%;
    margin: 20px 8% 10px 0.5%;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
    outline: 0;
    transition: 0.2s ease-out;
    color: white;
    font-size: 15px;
  }
  .E_btn:hover {
    background-color: lightgrey;
    opacity: 0.9;
  }

  .homepage_experiences{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    h1{
      margin-left: 115px;
      margin-bottom: 10px;
      font-size: 50px;
    }
  }
  
  
  @media (width < 751px) {
    .contents{
        padding: 0px;
    }
    .contents_list {
      width: 100%;
    }
    .bigcontents_list {
      width: 400px;
    }
    .bigcontents_list img {
      height: 400px;
    }
    .bighome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 2000px;
    }
    .home_cont{
        max-width: 700px;
        display: flex;
        flex-direction: column;
    }
    .content_des {
        padding: 14px 16px;
        width: 100%;
        height: 100%;
    }
    .E_btn {
        
    }
  }
  