.create-post-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.create-post-inner{
    width: 700px;
    input{
        border-radius: 10px;
        border: 1px solid;
        padding: 6px;
    }
    select{
        max-width: 300px;
        padding: 5px;
        border-radius: 10px;
    }
    .select{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 30px;
        align-items: center;
    }
}

.create-post-inner form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-post-inner h1{
    text-align: center;
    margin-bottom: 45px;
    font-weight: bolder;
}

.create-btn{
        margin-top: 50px;
        padding: 15px 50px;
        border-radius: 10px;
        margin-bottom: 25px;
    
}
